
:root {
    --text-color: #000000;
    --text-secondary-color: #000000;
    --text-link-color: #fff;
    --background-color: #eaedf0;
    --secondary-background-color: #64ffda1a;
    --primary-color: #fff;
    --secondary-color: #f8f9fa;
}

html, body {
    /* Use the variable as a fallback, but don't let it block the stickers */
    background-color: var(--background-color); 
    margin: 0;
    padding: 0;
}

.light * {
  background-color: transparent !important;
}

body.light {
  background-color: transparent;
}

.sticker-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  
  background: 
    url('../static/bgGridDarker.jpg') center center / cover no-repeat var(--background-color, #ffffff);

    
}

@media (min-width: 768px) {
  .sticker-background {
    background: 
      url('../static/kyaEmote.png') 10% 20% / 100px no-repeat, 
      url('../static/ermEmote.png') 80% 50% / 80px no-repeat,
      /* Keep the bottom layer the same */
      linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      url('../static/bgGridDarker.jpg') center center / cover no-repeat var(--background-color, #ffffff);
  }
}